<%= form_for @comment, remote: true do |f| %>
<div class="chat_new-row">
	<div class="chat_new_col"><%= f.text_area :message, :placeholder=>"Add a new note", :class=>"chat_box" %></div>
	<%= f.hidden_field :goal_id, value: @goal_id %>
	<div class="chat_new_btn"><%= f.submit "\u{2192}", :class=>"outline-minor-button" %></div>
	
</div>
<% end %>