<%= form_for @to_do, remote: true do |f| %>
	<div class="todo-add-row">
		<%= f.text_field :item, placeholder: "e.g. book our flight", :class=>"new-todo-field" %>
		<%= f.hidden_field :goal_id, value: @goal_id %>
		<%= f.submit "+", :class=>"outline-minor-button" %>
	</div>
<% end %>