
// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* row for the new chat message entry */
.new-comment{
  margin-bottom:20px;
}

.add-new-chat-row{
  margin-bottom:10px;
  height:40px;
  margin-top: 10px;
}


.new-chat-textarea-col{
	width:80%;
	float:left;
}

.chat_box{
	height:34px;
	resize: none;
	text-align:left;
	border-radius: 10px;
	border: 1px solid #ccc;
	width:100%;
	padding-left:10px;
	padding-right:10px;
  padding-top: 5px;
  white-space: nowrap;
}

.new-chat-btn-col{
  float:left;
  width:40px;
  margin-left: 10px;
}

.chat_new_btn{
	text-align: center;
	padding-left:4px;
	padding-right:4px;
}





.hr_chat_new{
	margin-top:0px;
	margin-bottom:10px;
}

.chat-row{
  margin-top: 5px;
    width: 100%;
    height: auto;
    display: inline-block;
}

.my_chat_triangle{
  content: "";
  position: relative;
  top: -10px;
  right: -10px;
  width: 0;
  height: 0;
  border: 10px solid #00A99D;
  border-right-color: transparent;
  border-bottom-color: transparent;
  float: right;
}

.my_chat_bubble{
	width:60%;
  background-color:#00A99D;
  padding-bottom:10px;
  padding-top:10px;
  position: relative;
  float: right;
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
}

.partner_chat_triangle{
  content: "";
  position: relative;
  top: -10px;
  left: -10px;
  width: 0;
  height: 0;
  border: 10px solid #ccc;
  border-left-color: transparent;
  border-bottom-color: transparent;
  float: left;
}

.partner_chat_bubble{
  width: 60%;
  background-color: #ccc;
  padding-bottom:10px;
  padding-top:10px;
  position: relative;
  float: left;
  margin-left: 10px;
  text-align: left;
}

textarea{
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
}




