// Place all the styles related to the ToDos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* formatting for adding new to-dos */

.add-new-todo-row{
	margin-bottom:20px;
    height: 35px;
	float:left;
	width:100%;
}

.new-todo-field-column{
	width:80%;	
	float:left;
}

.new-todo-field{
	height:34px;
	width:100%;
}

.new-todo-btn-column{
	float:left;
	width:40px;
	margin-left: 10px;
}



/* formatting for existing to-dos */
.todo-row{
	margin-bottom:10px;
	height:20px;
}


.todo-checkbox{
	text-align: right;
	width:10%;
	padding-left:15px;
	padding-right:15px;
	float:left;
}

.todo-item-column{
	text-align: left;
	width:90%;
	padding-left:15px;
	padding-right:15px;
	float:left;
}